<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>876067060277-or8tut984gmin1k8593sm3gck92n9j20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876067060277-or8tut984gmin1k8593sm3gck92n9j20</string>
	<key>API_KEY</key>
	<string>AIzaSyBo3Lk2rJWOP7DY-sX6F3TXtVs444h_o_0</string>
	<key>GCM_SENDER_ID</key>
	<string>876067060277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Just66.SnapCapTalk</string>
	<key>PROJECT_ID</key>
	<string>snapcaptalk</string>
	<key>STORAGE_BUCKET</key>
	<string>snapcaptalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:876067060277:ios:c37441c103d9a1f8</string>
	<key>DATABASE_URL</key>
	<string>https://snapcaptalk.firebaseio.com</string>
</dict>
</plist>